form button.btn-primary {
  background: linear-gradient(135deg, #3b82f6 0%, #2563eb 100%);
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

form .btn-primary::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background: rgba(235, 237, 240, 0.23);
  border-radius: 50%;
  transform: scale(0) translate(-50%, -50%);
  transform-origin: left top;
  transition: transform 0.5s ease;
}

@media (max-width: 640px) {
  form label,
  input::placeholder {
    font-size: 14px;
  }

  textarea {
    font-size: 16px !important;
  }
}
