/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';

/* ---------------------- */
/*     Poppins Local      */
/* ---------------------- */

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins/Poppins-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins/Poppins-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins/Poppins-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins/Poppins-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

/* Asegurar que el nav no provoca overflow horizontal */
html,
body {
  overflow-x: hidden;
}

/* Oculta la insignia globalmente */
.grecaptcha-badge {
    visibility: hidden;
}

/* La muestra solo si el body tiene la clase 'recaptcha-visible' */
body.recaptcha-visible .grecaptcha-badge {
    visibility: visible;
}

.gradient-bg {
  background: radial-gradient(circle at 80% 10%, rgba(18, 43, 185, 0.8), transparent 50%),
    radial-gradient(circle at 30% 0%, black, transparent 60%),
    radial-gradient(circle at 20% 80%, black, transparent 100%),
    linear-gradient(45deg, #05002a 0%, #000000 25%, #0b0565 50%, #0032b8 75%, #64b5ff 100%);
  background-blend-mode: screen, lighten, multiply, normal;
}

.gradient-bg-other {
  background: linear-gradient(135deg, #0f2c59 0%, #1a3a6a 50%, #2a4d8f 100%);
  position: relative;
  overflow: hidden;
}

.bubble {
  position: absolute;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.05);
  animation: float 8s infinite ease-in-out;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0) translateX(0);
  }

  25% {
    transform: translateY(-20px) translateX(10px);
  }

  50% {
    transform: translateY(-10px) translateX(20px);
  }

  75% {
    transform: translateY(-30px) translateX(-10px);
  }
}

.particle {
  position: absolute;
  border-radius: 50%;
  background: rgba(59, 130, 246, 0.3);
  pointer-events: none;
}

.bg-dots {
  background-image: radial-gradient(rgba(59, 130, 246, 0.1) 2px, transparent 2px);
  background-size: 30px 30px;
}

@keyframes sunGlow {
  0%,
  100% {
    filter: drop-shadow(0 0 3px rgba(255, 215, 0, 0.5));
  }

  50% {
    filter: drop-shadow(0 0 6px rgba(255, 215, 0, 0.8));
  }
}

@keyframes rayPulse {
  0%,
  100% {
    opacity: 0.7;
  }

  50% {
    opacity: 1;
  }
}

/* #region Estilos para Boton */
.btn-primary {
  background: linear-gradient(135deg, #ffffff 0%, #ffffff 100%);
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.btn-primary::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background: rgba(99, 94, 94, 0.164);
  border-radius: 50%;
  transform: scale(0) translate(-50%, -50%);
  transform-origin: left top;
  transition: transform 0.5s ease;
}

.btn-primary:hover::after {
  transform: scale(15) translate(-50%, -50%);
}

.btn-primary:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 15px -3px rgb(176 188 209 / 50%);
}

.btn-primary:disabled,
.btn-primary[disabled],
.btn-primary.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  transform: none !important;
  box-shadow: none !important;
}

/* deshabilitar ripple */
.btn-primary:disabled::after {
  transform: scale(0) !important;
}

/* evitar hover cuando está disabled */
.btn-primary:disabled:hover {
  transform: none !important;
  box-shadow: none !important;
}
/* #endregion */

/* -------------------------------- */
/* @keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.4s ease both;
} */

/* ------------------------------------- */
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fade 0.3s ease both, slide 0.6s ease both;
}
/* ----------------------------------- */

/* Google recaptcha */
.grecaptcha-badge {
  z-index: 9999 !important;
}

@media (max-width: 640px) {
  p {
    font-size: 14px;
  }
}

/* se aplica solo en dispositivos que no admiten “hover” */
@media (hover: none) {
  .btn-primary:hover::after {
    transform: none;
  }
  .btn-primary::after {
    transition: transform 0.5s ease;
  }
  .btn-primary:hover {
    transform: none;
    box-shadow: none;
  }
}
