/* Boton flotante WhatsApp */
.btn-wsp {
  position: fixed;
  width: 65px;
  height: 65px;
  border-radius: 50px;
  bottom: 85px;
  right: 0px;
  z-index: 100;
  transition: all 300ms ease;
}

.btn-wsp:hover {
  background: #20ba5a;
}

/* se aplica solo en dispositivos que no admiten “hover” */
@media (hover: none) {  
  .btn-wsp:hover {
    background: none;
  }
}
