<section id="home" class="gradient-bg min-h-screen flex items-center pt-20 relative"
  appParticles
  appBubbles
  [bubblesPositions]="[
    { size: 150, top: 20, left: 10 },
    { size: 80, top: 30, right: 20 },
    { size: 60, bottom: 20, left: 5 },
    { size: 120, bottom: 10, right: 15 },
    { size: 40, top: 60, left: 30 }
  ]"
>
  <div class="container mx-auto px-6 md:pr-0 md:py-12 py-8 relative z-10">
    <div class="flex flex-col md:flex-row items-center">
      <div class="md:w-1/2 mb-12 md:mb-0">
        <h1 class="text-4xl md:text-5xl lg:text-6xl font-bold text-white leading-tight mb-6 animate-fadeIn">
          <span class="text-[#00aafe]"> Diseñamos </span> tu presencia digital desde cero
        </h1>
        <p class="text-lg text-blue-100 mb-8 animate-fadeIn" style="animation-delay: 0.2s">
          Somos un equipo joven que ayuda a negocios locales a tener su página web y mejorar su presencia en redes sociales.
          <span style="display: block; font-size: 14px; margin-top: 10px;"> <i>Diseño web, redes sociales y marketing local ~ con pasión y aprendizaje constante. </i> </span>
        </p>
        <div class="flex flex-col sm:flex-row gap-4 animate-fadeIn" style="animation-delay: 0.4s">
          <a href="#servicios" class="btn-primary text-black font-medium py-3 px-8 rounded-full text-center hover:text-[#0f2c59]">
            Nuestros Servicios
          </a>
          <a href="#contacto" class="bg-transparent border-2 border-white text-white font-medium py-3 px-8 rounded-full hover:bg-white hover:text-[#0f2c59] transition-all duration-300 text-center flex justify-center items-center">
            Contáctanos
          </a>
        </div>
      </div>
      <div class="md:w-1/2 flex justify-center animate-fadeIn" style="animation-delay: 0.6s">
        <img src="assets/img/marketing-digital.webp" alt="Imagen representativa de marketing digital" loading="lazy">
      </div>
    </div>
  </div>
</section>
