.navbar {
  transition: all 0.5s ease;
  background-color: #000000;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

#mobile-menu {
  background-color: #000000;
}

/* Estado abierto */
#mobile-menu.open {
  max-height: 500px;
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

#mobile-menu {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transform: translateY(-10px);
  transition: all 0.3s ease-in-out;
  pointer-events: none; /* evita clicks mientras está cerrado */
}

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 24px;
  height: 2px;
  top: 0;
  left: 0;
  background: #fff;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

.logo-container {
  display: inline-block;
}

.logo-container svg {
  height: 32px;
  width: auto;
  font-style: normal;
}
